body div {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 30px;
  grid-template-areas: 
  "main-image main-image main-image main-image"
  "middle-imgs middle-imgs middle-imgs middle-imgs"
  "img-and-text img-and-text img-and-text img-and-text";
}

/********** HEADER & NAV STYLES **********/

header {
  background-color: #333;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo nav nav nav";
}

header img {
  margin-top: 15px;
  grid-area: logo;
  margin-left: 212px;
}

header nav {
  grid-area: nav;
  margin-right: 400px;
}

ul {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "first second third fourth";
  grid-column-gap: 70px;
}

nav:nth-child(0) {
  grid-area: first;
}

nav:nth-child(1) {
  grid-area: second;
}

nav:nth-child(2) {
  grid-area: third;
}

nav:nth-child(3) {
  grid-area: fourth;
}

/********** MAIN CONTENT **********/

/**** top image ****/

div section:nth-child(1) {
  grid-area: main-image;
}

/**** middle images ****/

div section:nth-child(2) {
  grid-area: middle-imgs;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img-one img-two img-three";
  grid-column-gap: 30px;
  height: 375px;
}

div section:nth-child(2) img:nth-child(1) {
  grid-area: img-one;
}

div section:nth-child(2) img:nth-child(2) {
  grid-area: img-two;
}

div section:nth-child(2) img:nth-child(3) {
  grid-area: img-three;
}

/**** image and aside text ****/

div section:nth-child(3) {
  grid-area: img-and-text;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 400px;
  grid-template-areas: "img aside";
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 400px;
}

div section:nth-child(3) img {
  grid-area: img;
}

div section:nth-child(3) aside {
  grid-area: aside;
}

aside p {
  height: 362px;
  overflow: scroll;
}

button {
  color: #fff;
  background-color: black;
  padding: 10px 18px;
  font-size: 14px;
}

/********** FOOTER STYLES **********/

footer {
  background-color: #333;
  height: 100px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}

footer p {
  padding-top: 45px;
}